###################################################################################
# ⚠️ This file is controlled by OpenTofu in the {{ controller_repo_name }} repository.
#    Manual changes will be overwritten the next time OpenTofu runs.
###################################################################################

name: {{ workflow_name }}

on:
{% if repository_configuration.source_path or repository_configuration.trigger_files %}
  push:
    paths:
      {% if repository_configuration.source_path %}
      - "{{ source_path }}/**"
      {% endif %}
      {% if repository_configuration.trigger_files %}
      {% for file in repository_configuration.trigger_files %}
      - "{{ file }}"
      {% endfor %}
      {% endif %}
{% endif %}

  {% if cron_expression %}
  schedule:
    - cron: "{{ cron_expression }}"  # {{ cron_description }}
  {% endif %}

{% if workflow_permissions %}
permissions:
  {% for permission, access in workflow_permissions.items() %}
  {{ permission }}: {{ access }}
  {% endfor %}
{% endif %}

jobs:
  call-{{ workflow_name }}:
    uses: {{ organisation }}/{{ reusable_workflows_repo }}/.github/workflows/{{ workflow_name }}.yml@main
    {% if workflow_inputs %}
    with:
      {% for name, config in workflow_inputs.items() %}
      {% if name in effective_repository_configuration %}
      {{ name }}: {{ effective_repository_configuration[name] }}
      {% elif not config.default %}
      {{ name }}: # Set this value in the {{ controller_repo_name }} repository configuration
      {% endif %}
      {% endfor %}
    {% endif %}