###################################################################################
# ⚠️ This file is controlled by OpenTofu in the {{ controller_repo_name }} repository.
#    Manual changes will be overwritten the next time OpenTofu runs.
#    Last updated: {{ last_updated }}
###################################################################################

name: {{ workflow_name }}

on:
  workflow_dispatch:
{%- if repository_configuration.source_path or repository_configuration.trigger_files %}
  push:
    paths:
      {%- if repository_configuration.source_path %}
      - "{{ source_path }}/**"
      {%- endif %}
      {%- if repository_configuration.trigger_files %}
      {%- for file in repository_configuration.trigger_files %}
      - "{{ file }}"
      {%- endfor %}
      {%- endif %}
{%- endif %}

  {%- if cron_expression %}
  schedule:
    - cron: "{{ cron_expression }}"  # {{ cron_description }}
  {%- endif %}

permissions:
  {%- for permission, access in workflow_permissions %}
  {{ permission }}: {{ access }}
  {%- endfor %}

jobs:
  call-{{ workflow_name }}:
    uses: {{ organisation }}/{{ reusable_workflows_repo }}/.github/workflows/{{ workflow_name }}.yml@main
    {%- if workflow_inputs %}
    secrets: inherit
    with:
      {%- for name, value in workflow_inputs %}
      {{ name }}: {{ value }}
      {%- endfor %}
    {%- endif %}